.article {
    display: block;
}

.title {
    margin-bottom: 24px;
}

.subtitle {
    display: block;
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.image {
    width: 100%;
}

.container {
    padding: 0 103px;
}
